.todo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    height: 300px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #313131;
    text-align: center;
    &__name {
        color: #59BDF5;
        font-size: 50px;
        line-height: 50px;
    }
    &__form {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        input {
            padding-left: 20px;
            display: block;
            width: 600px;
            height: 55px;
            border: 1px solid white;
            border-right: none;
            background-color: #404040;
            font-size: 20px;
        }
        button {
            display: block;
            width: 120px;
            height: 55px;
            border: 1px solid white;
            background-color: #404040;
            font-size: 20px;
            color:#59BDF5;
            cursor: pointer;
        }
    }
    &__notask {
        display: block;
        bottom: 0px;
        color: #FFEC8A;
        font-size: 30px;
    }
}
