.app {
    background-color: #232323;
    min-height: 100vh;
    padding-top: 30px;
    position: relative;
    z-index: 99999
    ;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #232323;
    overflow: hidden;
    z-index: -1;
    span {
        color: #545454;
        width: 20vmin;
        height: 20vmin;
        border-radius: 20vmin;
        backface-visibility: hidden;
        position: absolute;
        animation: move;
        animation-duration: 13;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        &:nth-child(0) {
            top: 77%;
            left: 16%;
            animation-duration: 139s;
            animation-delay: -124s;
            transform-origin: 2vw -1vh;
            box-shadow: 40vmin 0 5.306506001184493vmin currentColor;
        }
        &:nth-child(1) {
            top: 79%;
            left: 55%;
            animation-duration: 306s;
            animation-delay: -356s;
            transform-origin: 2vw -17vh;
            box-shadow: -40vmin 0 5.685350538606578vmin currentColor;
        }
        &:nth-child(2) {
            top: 67%;
            left: 20%;
            animation-duration: 369s;
            animation-delay: -253s;
            transform-origin: 14vw -5vh;
            box-shadow: -40vmin 0 5.084910236956021vmin currentColor;
        }
        &:nth-child(3) {
            top: 57%;
            left: 20%;
            animation-duration: 140s;
            animation-delay: -133s;
            transform-origin: 13vw -21vh;
            box-shadow: 40vmin 0 5.2354142578406595vmin currentColor;
        }
        &:nth-child(4) {
            top: 42%;
            left: 41%;
            animation-duration: 203s;
            animation-delay: -134s;
            transform-origin: 7vw 23vh;
            box-shadow: -40vmin 0 5.858242457992892vmin currentColor;
        }
        &:nth-child(5) {
            top: 65%;
            left: 26%;
            animation-duration: 242s;
            animation-delay: -237s;
            transform-origin: -3vw -10vh;
            box-shadow: 40vmin 0 5.353414594503315vmin currentColor;
        }
        &:nth-child(6) {
            top: 9%;
            left: 96%;
            animation-duration: 265s;
            animation-delay: -283s;
            transform-origin: -20vw 9vh;
            box-shadow: 40vmin 0 5.690425997001277vmin currentColor;
        }
        &:nth-child(7) {
            top: 44%;
            left: 57%;
            animation-duration: 154s;
            animation-delay: -234s;
            transform-origin: -9vw 25vh;
            box-shadow: 40vmin 0 5.409710617828487vmin currentColor;
        }
        &:nth-child(8) {
            top: 100%;
            left: 82%;
            animation-duration: 204s;
            animation-delay: -77s;
            transform-origin: -11vw -11vh;
            box-shadow: 40vmin 0 5.223117618166151vmin currentColor;
        }
        &:nth-child(9) {
            top: 16%;
            left: 65%;
            animation-duration: 60s;
            animation-delay: -144s;
            transform-origin: 0vw -16vh;
            box-shadow: 40vmin 0 5.324528816216986vmin currentColor;
        }
        &:nth-child(10) {
            top: 93%;
            left: 80%;
            animation-duration: 107s;
            animation-delay: -200s;
            transform-origin: -5vw 10vh;
            box-shadow: -40vmin 0 5.620405948454579vmin currentColor;
        }
        &:nth-child(11) {
            top: 80%;
            left: 41%;
            animation-duration: 44s;
            animation-delay: -200s;
            transform-origin: 23vw -1vh;
            box-shadow: -40vmin 0 5.843685910008897vmin currentColor;
        }
        &:nth-child(12) {
            top: 57%;
            left: 31%;
            animation-duration: 138s;
            animation-delay: -216s;
            transform-origin: -11vw 1vh;
            box-shadow: -40vmin 0 5.066970683722422vmin currentColor;
        }
        &:nth-child(13) {
            top: 10%;
            left: 47%;
            animation-duration: 358s;
            animation-delay: -287s;
            transform-origin: 22vw -14vh;
            box-shadow: 40vmin 0 5.100712641937257vmin currentColor;
        }
        &:nth-child(14) {
            top: 90%;
            left: 29%;
            animation-duration: 17s;
            animation-delay: -207s;
            transform-origin: -2vw -21vh;
            box-shadow: 40vmin 0 5.606235027129142vmin currentColor;
        }
        &:nth-child(15) {
            top: 10%;
            left: 76%;
            animation-duration: 327s;
            animation-delay: -294s;
            transform-origin: 9vw -19vh;
            box-shadow: 40vmin 0 5.2134091293868465vmin currentColor;
        }
        &:nth-child(16) {
            top: 64%;
            left: 76%;
            animation-duration: 97s;
            animation-delay: -107s;
            transform-origin: -20vw 11vh;
            box-shadow: 40vmin 0 5.56620851059648vmin currentColor;
        }
        &:nth-child(17) {
            top: 61%;
            left: 81%;
            animation-duration: 281s;
            animation-delay: -251s;
            transform-origin: -12vw 10vh;
            box-shadow: -40vmin 0 5.742736720083142vmin currentColor;
        }
        &:nth-child(18) {
            top: 95%;
            left: 75%;
            animation-duration: 155s;
            animation-delay: -31s;
            transform-origin: 15vw -14vh;
            box-shadow: 40vmin 0 5.592611493417073vmin currentColor;
        }
        &:nth-child(19) {
            top: 83%;
            left: 67%;
            animation-duration: 359s;
            animation-delay: -169s;
            transform-origin: -14vw -9vh;
            box-shadow: -40vmin 0 5.586594335818161vmin currentColor;
        }
        &:nth-child(20) {
            top: 5%;
            left: 28%;
            animation-duration: 66s;
            animation-delay: -233s;
            transform-origin: -6vw 21vh;
            box-shadow: 40vmin 0 5.534230856460382vmin currentColor;
        }
        &:nth-child(21) {
            top: 82%;
            left: 93%;
            animation-duration: 13s;
            animation-delay: -123s;
            transform-origin: -6vw -9vh;
            box-shadow: -40vmin 0 5.871777988187586vmin currentColor;
        }
        &:nth-child(22) {
            top: 6%;
            left: 14%;
            animation-duration: 87s;
            animation-delay: -96s;
            transform-origin: 5vw 5vh;
            box-shadow: 40vmin 0 5.149768608972475vmin currentColor;
        }
        &:nth-child(23) {
            top: 42%;
            left: 11%;
            animation-duration: 33s;
            animation-delay: -194s;
            transform-origin: 6vw -12vh;
            box-shadow: 40vmin 0 5.772558343515602vmin currentColor;
        }
        &:nth-child(24) {
            top: 11%;
            left: 38%;
            animation-duration: 251s;
            animation-delay: -309s;
            transform-origin: -15vw -5vh;
            box-shadow: 40vmin 0 5.86515337738623vmin currentColor;
        }
        &:nth-child(25) {
            top: 95%;
            left: 10%;
            animation-duration: 179s;
            animation-delay: -338s;
            transform-origin: 6vw 25vh;
            box-shadow: -40vmin 0 5.077356261606461vmin currentColor;
        }
        &:nth-child(26) {
            top: 58%;
            left: 1%;
            animation-duration: 257s;
            animation-delay: -31s;
            transform-origin: -17vw 2vh;
            box-shadow: -40vmin 0 5.867785030546742vmin currentColor;
        }
        &:nth-child(27) {
            top: 35%;
            left: 32%;
            animation-duration: 135s;
            animation-delay: -44s;
            transform-origin: 0vw -17vh;
            box-shadow: -40vmin 0 5.084289348615899vmin currentColor;
        }
        &:nth-child(28) {
            top: 11%;
            left: 22%;
            animation-duration: 173s;
            animation-delay: -16s;
            transform-origin: 6vw -14vh;
            box-shadow: -40vmin 0 5.455421551307966vmin currentColor;
        }
        &:nth-child(29) {
            top: 22%;
            left: 75%;
            animation-duration: 67s;
            animation-delay: -289s;
            transform-origin: -7vw 22vh;
            box-shadow: 40vmin 0 5.766936117688734vmin currentColor;
        }
        &:nth-child(30) {
            top: 11%;
            left: 10%;
            animation-duration: 299s;
            animation-delay: -40s;
            transform-origin: -3vw -21vh;
            box-shadow: -40vmin 0 5.487686526467354vmin currentColor;
        }
        &:nth-child(31) {
            top: 88%;
            left: 91%;
            animation-duration: 368s;
            animation-delay: -91s;
            transform-origin: -21vw 17vh;
            box-shadow: -40vmin 0 5.179514159609343vmin currentColor;
        }
        &:nth-child(32) {
            top: 27%;
            left: 33%;
            animation-duration: 150s;
            animation-delay: -266s;
            transform-origin: 13vw 15vh;
            box-shadow: 40vmin 0 5.126487990729905vmin currentColor;
        }
        &:nth-child(33) {
            top: 27%;
        }
    }
}

