.app {
    background-color: #232323;
    min-height: 100vh;
    padding-top: 30px;
    position: relative;
    z-index: 99999
    ;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #232323;
    overflow: hidden;
    z-index: -1;
    &__video {
        min-width: 100vw;
    }
}
